# Core FastAPI
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20
starlette==0.41.3
fastapi-injectable==0.2.0

# Database
SQLAlchemy==2.0.36
alembic==1.14.0
bcrypt==4.3.0
passlib==1.7.4
PyJWT==1.7.1

# LLM & LangChain
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-huggingface
langchain-ollama
langchain-openai
langchain-google-genai==2.0.7
langchain-text-splitters==0.3.4
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.48
google-generativeai==0.8.3
faiss-cpu==1.12.0
sentence-transformers
pypdf

# Utilities
python-dotenv==1.0.1
requests==2.32.3
httpx==0.28.1
websockets==14.1
exif==1.6.1
psutil
Pillow
tqdm==4.67.1
tenacity==9.0.0
jinja2==3.1.4
Mako==1.3.8
numpy==2.2.1
PyYAML==6.0.2

# Pydantic
pydantic==2.10.4
pydantic_core==2.27.2
